RabbitMQWCF/RabbitmqService/RabbitMQServicePeer/Service References/RabbitMQServiceUsing/RabbitMQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RabbitMQService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1657/RabbitMQService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1657/RabbitMQService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1657/RabbitMQService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RabbitMQCommon.RabbitMQEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRabbitMQService_PublishRabbitMQMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishRabbitMQMsg" />
  </wsdl:message>
  <wsdl:message name="IRabbitMQService_PublishRabbitMQMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishRabbitMQMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IRabbitMQService_ReceieveRabbitMQMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceieveRabbitMQMsg" />
  </wsdl:message>
  <wsdl:message name="IRabbitMQService_ReceieveRabbitMQMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceieveRabbitMQMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="IRabbitMQService">
    <wsdl:operation name="PublishRabbitMQMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IRabbitMQService/PublishRabbitMQMsg" message="tns:IRabbitMQService_PublishRabbitMQMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRabbitMQService/PublishRabbitMQMsgResponse" message="tns:IRabbitMQService_PublishRabbitMQMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceieveRabbitMQMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IRabbitMQService/ReceieveRabbitMQMsg" message="tns:IRabbitMQService_ReceieveRabbitMQMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRabbitMQService/ReceieveRabbitMQMsgResponse" message="tns:IRabbitMQService_ReceieveRabbitMQMsg_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRabbitMQService" type="tns:IRabbitMQService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishRabbitMQMsg">
      <soap:operation soapAction="http://tempuri.org/IRabbitMQService/PublishRabbitMQMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceieveRabbitMQMsg">
      <soap:operation soapAction="http://tempuri.org/IRabbitMQService/ReceieveRabbitMQMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RabbitMQService">
    <wsdl:port name="BasicHttpBinding_IRabbitMQService" binding="tns:BasicHttpBinding_IRabbitMQService">
      <soap:address location="http://localhost:1657/RabbitMQService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>